/* GLOBAL */
html, body{
  height: 100%;
}

body{
  background-color: #eae9e8;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  color: #333240;
}

p{
  font-family: 'Open Sans', sans-serif;
}

footer a, header a{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none !important;
}

footer{
  background-color: #002f46;
  margin-top: 50px;
  color: #4da0cd;
}

footer h5{
  color: #6695AC;
}

footer a{
  color: #4da0cd;
}

footer a:hover{
  color: white;
}

a:hover{
  text-decoration: none;
}
/* GLOBAL */


/* APPARENCE BOUTON */
.btn{
  border-radius: 100px;
}

/* COULEUR BOUTON */
.btn-orange{
  background-color: #f7941e;
  border-color: #f7941e;
}
.btn-purple{
  background-color: #402675;
  border-color: #402675;
}
.btn-cyan{
  background-color: #2ec3bd;
  border-color: #2ec3bd;
}
.btn-teal{
  background-color: #20c997;
  border-color: #20c997;
}
.btn-green{
  background-color: #84b749;
  border-color: #84b749;
}

/* PROFIL - TAB LINK */
.profil-tab-link{
  color: white;
  background-color: #402675;
  padding: 10px 15px;
  margin-right: 2px;
  border: 1px solid #402675 !important;
}
.profil-tab-link:hover{
  color: white;
  opacity: 0.8;
  background-color: #2ec3bd;
}
.profil-tab-link.active{
  color: white !important;
  background-color: #f7941e !important;
}

/* PROFIL - BOOK LINK */
.profil-book-link{
  color: white;
  background-color: #2ec3bd;
  padding: 10px 15px;
  margin-right: 2px;
  border: 1px solid #2ec3bd !important;
}
.profil-book-link:hover{
  color: white;
  opacity: 0.8;
  background-color: #20c997;
}
.profil-book-link.active{
  color: white !important;
  background-color: #84b749 !important;
}

/* TABLE - BILL */
.table-bill tbody tr{
  background-color: #F3F8ED;
}
.table-bill tbody tr:hover{
  background-color: #e3ecd6;
}

/* FOOTER - RESEAUX SOCIAUX */
.social-network{
  padding: 10px;
  font-size: 50px;
  width: 50px !important;
  border-radius: 50%;
}
.social-network:hover{
  opacity: 0.7;
}
.fa-facebook-f{
  background: #3B5998;
  color: white;
}
.fa-twitter{
  background: #00aced;
  color: white;
}

/* BARRE DE MENU */
.navbar-brand{
  color: white !important;
}
.nav-link-head{
  font-family: 'Montserrat', sans-serif;
  color: white !important;
  font-size: 1.2rem;
	padding: 1.4rem;
}
.nav-link-head:hover{
  background-color: #19709e;
}
#icon-my-account{
  color: white;
}

/* ILLUSTRATION DE L'ACCUEIL */
#introduction{
  background-image: url("../image/illustration/intro_background.png");
  background-color: #000019;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
#introduction h1{
  color: white !important;
}

/* BORDURE DES TITRES */
.border-bottom-header{
  padding-bottom: 10px;
  border-color: #798ed2 !important;
}
.border-top-bottom-header{
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #798ed2 !important;
}

/* CORPS PRINCIPAL DE LA PAGE */
.container-main-content{
  margin-top: 50px;
}

/* BLOC CONNEXION */
#sign-in{
  background-color: #8dbcdf;
  color: white;
  margin-top: 10px;
  padding: 20px;
}
#sign-in:hover{
  background-color: #333240;
}
#btn-sign-in{
  margin-top: 20px;
}
#btn-sign-in:hover{
  background-color: #5BDA78;
}

/* BLOC INSCRIPTION */
@media (max-width: 768px){
  #header-spacing{
    margin-top: 30px;
  }
}
#sign-up{
  background-color: #8dbcdf;
  color: white;
  margin-top: 10px;
  padding: 20px;
}
#sign-up:hover{
  background-color: #333240;
}
#btn-sign-up{
  margin-top: 20px;
}
#btn-sign-up:hover{
  background-color: #A0A9B1;
}
#passwordHelpBlock{
  color: white !important;
}

/* CARDS - POURQUOI NOUS REJOINDRE */
.card-header-sign{
  background-color: #19709e;
  color: white;
}
.card-body-sign{
  background-color: #4CA3D1;
}
.card-body-sign p{
  color: white;
}
.card-sign:hover .card-header-sign{
   background-color: #000021;
}
.card-sign:hover .card-body-sign{
    background-color: #00133B;
}

/* CARDS - OPENSPACE */
.card-body-openspace{
  background-color: #1D2031;
}
.card-body-openspace h5, .card-body-openspace p{
  color: white;
}
.card-openspace:hover .card-body-openspace{
    background-color: #31a2a6;
}

/* CARDS - OFFRES */
.card-header-offers{
  background-color: #b1e97c;
  color: white;
}
.card-body-offers{
  background-color: #7cc1e9;
}
.card-footer-offers{
  background-color: #7486b4;
}
.card-body-offers h5, .card-body-offers ul, .card-body-offers p{
  color: white;
}
.card-offers:hover .card-header-offers{
   background-color: #CBFF96;
}
.card-offers:hover .card-body-offers{
    background-color: #96DBFF;
}
.card-offers:hover .card-footer-offers{
    background-color: #8EA0CE;
}

/* BOUTON OFFRES */
.btn-offers{
  background-color: #0a689e;
  border-color: #2482B8;
}
.btn-offers:hover{
  background-color: #333240;
  border-color: #2482B8;
}

/* BORDURE DU BLOC */
.border{
  border-width: medium !important;
}
.border-sign:hover{
  border-color: #1D2031 !important;
  box-shadow: 1px 1px 20px 10px #1D2031;
}
.border-join-us:hover{
  border-color: #1A2D55 !important;
  box-shadow: 1px 1px 20px 10px #00133B;
}
.border-openspace:hover{
  border-color: #44b0ec !important;
  box-shadow: 1px 1px 20px 10px #8dbcdf;
}
.border-offers:hover{
  border-color: #64BAF8 !important;
  box-shadow: 1px 1px 20px 10px #4aa0de;
}
.border-profile:hover{
  border-color: #1D2031 !important;
  box-shadow: 1px 1px 20px 10px #333240;
}

/* POURQUOI NOUS REJOINDRE ? */
@media (min-width: 768px){
  #why-join-us{
    margin-top: 10px;
  }
}

/* Contactez nous */
#contact-us{
  background-color: #d5d5d7;
  padding: 20px;
}
#btn-send{
  background-color: #5F8995;
  border-color: #46707C;
}
#btn-send:hover{
  background-color: #2C5662;
  border-color: #133D49;
}

/* PAGE PROFIL - CARDS PROFIL */
.card-header-profile{
  background-color: #337ab7;
  color: white;
}
.card-body-profile{
  background-color: #8dbcdf;
  color: white;
}
.card-profile:hover .card-header-profile{
  background-color: #004784;
}
.card-profile:hover .card-body-profile{
  background-color: #417093;
}

/* NEWSLETTER */
.newsletter{
  background-color: #333240;
  color: white;
  padding: 20px;
  border-color: #1D2031 !important;
  box-shadow: 1px 1px 20px 10px #1D2031;
}
.newsletter h5{
  color: white;
}

/* RECRUTEMENT */
.card-header-jobs{
  background-color: #402675;
}
.card-body-jobs{
  background-color: #ccf2ff;
}

.table-admin{
    width: 80%;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
}
